<html>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<header class="w3-container w3-teal">
	<h1>Login</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

<form action="/processSearch" method="post" class="w3-container w3-card-4">
	<p>

	<select name ="list">
<option value="name">name</option>
<option value="borough">borough</option>
<option value="cuisine">cuisine</option>
	</select>
	<input name="requirement" class="w3-input" type="text" style="width:90%" >
	<label class="w3-label w3-validate">Requirement</label></p>
	<button class="w3-btn w3-section w3-teal w3-ripple"> Search </button>

	
</form>
</div>

</body>
</html>
